body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#game-container {
    width: 100vw;
    height: 95vh;
    background-color: #fff;
    border: 10px solid #000;
    position: relative;
}

.obstacle {
    position: absolute;
    background-color: #888; /* Color of the obstacles */
}

/* 'L'-shaped obstacle 1 */
.obstacle1 {
    left: 20vw;
    top: 20vh;
    width: 20vw;
    height: 2vh;
}

/* 'L'-shaped obstacle 2 (rotated 45 degrees) */
.obstacle2 {
    left: 20vw;
    top: 50vh;
    width: 2vh;
    height: 20vw;
    transform: rotate(0deg);
}

/* 'L'-shaped obstacle 3 (rotated 90 degrees) */
.obstacle3 {
    left: 60vw;
    top: 30vh;
    width: 20vw;
    height: 2vh;
    transform: rotate(90deg);
}

/* 'L'-shaped obstacle 4 (rotated 135 degrees) */
.obstacle4 {
    right: 20vw;
    bottom: 1vh;
    width: 2vh;
    height: 20vw;
    transform: rotate(90deg);
}


#player {
    width: 5%;
    height: 5%;
    background-color: #ff0000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#arrow-indicator {
    font-size: 5vw; /* Adjust the font size as needed */
    color: #00f; /* Blue color for the angular bracket */
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%) rotate(0deg); /* Initial rotation */
}

 /* this section works fine from this line onwards*/
 #controls{
    display: flex;
    flex-wrap: wrap;
 }

#controls #rotate-ccw {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 10px;
    right: 5px;
    bottom: 5px;
    user-select: none;
}

#controls #move-left {
    display: flex;
    position: absolute;
    padding: 10px;
    left: 10px;
    bottom: 20px;
    user-select: none;
}


#controls #move-down {
    display: flex;
    position: absolute;
    padding: 10px;
    left: 60px;
    bottom: 20px;
    user-select: none;
}

#controls #move-right {
    display: flex;
    position: absolute;
    padding: 10px;
    left: 121px;
    bottom: 20px;
    user-select: none;
}
#controls #move-up{
    display: flex;
    position: absolute;
    padding: 10px;
    left: 68px;
    bottom: 63px;
    user-select: none;
}


button {
    margin: 5px;
}


button:hover {
    background-color: #555;
}


.projectile {
    position: absolute;
    width: 2%; /* Adjust the size of the projectiles as needed */
    height: 2%; /* Adjust the size of the projectiles as needed */
    background-color: black; /* Set projectile color to black */
    border-radius: 50%; /* Make projectiles circular */
    transition: transform 0.2s linear; /* Adjust the speed of projectiles as needed */
}

#rotate-cw {
    display: none;
    margin: 5px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

